* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #2e364a;
}
.timeline{
  position: relative;
  max-width: 1200px;
  margin: 100px auto;
}
.container{
  padding: 10px 50px;
  position: relative;
  width: 50%;
  background: rgb(0, 0, 0,0.3);
}
.text-box{
  padding: 20px;
  background-color: white;
  position: relative;
  border-radius: 6px;
  font-size: 15px;
}
.left-container{
  left: 0;
}
.right-container{
  left: 50%;
}
.container img{
  position: absolute;
  width: 40px;
  border-radius: 50%;
  right: -20px;
  top: 32px;
  z-index: 10;
}